QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/BusinessLogicLayer/obj/Debug/
QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/obj/Debug/
QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/BusinessLogicLayer/bin/Debug/
QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/DataAccessLayer/bin/Debug/
QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/DataAccessLayer/obj/Debug/
QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/QuanLyTrungTamAnhNgu/bin/Debug/
